.navbar {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /* margin-right: 150px; */
    /* margin-left: 80px; */
    /* height: 200px; */
    /* padding-top: 14.5px; */
    /* padding-right: 15px; */
    /* padding-bottom: 14.5px; */
    /* padding-left: 15px; */
    font-family: "Lucida Console";
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(59, 101, 116, 1) 48%, rgba(0, 212, 255, 1) 100%);
}

.general-container {
    /* display: flex; */
    /* flex-direction: row; */
    width: calc(100%);
    /* overflow-y: auto; */
    /* overscroll-behavior: contain; */
}

.article-container {
    /* display: flex; */
    padding-bottom: 5px;
    padding-right: 5px;
}

.info-container {
    border: grey 3px solid;
    border-radius: 10px;
    width: 500px;
    display: flex;
}

.multimedia-figure {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.info-text {
    width: calc(200% - 18.75rem);
    padding-left: 5px;
}

#el {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#el_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#el_c2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#el_v {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#el_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#el_s2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;

}